<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--SEO-->
        <title>Emulador Mobile</title>
        <link rel="shortcut icon" href="../assets/img/mobile.jpg" type="image/x-icon">
        <!--css-->
        <link rel="stylesheet" href="../assets/css/theme.css">
    </head>
    <body>
        <div class="theme">
            <form action="" class="form_url">
                <input type="url" name="" id="" placeholder="Insira url do projeto">
            </form>
            <div class="container-mobile">
                <div class="topo">
                    <div></div>
                    <div></div>
                </div>
                <iframe 
                src="https://xordevweb.com.br/" 
                frameborder="0"
                height="480px" 
                scrolling="no"
                width="300"
                >
                </iframe>
                <div class="container_button">
                    <button>
                        <div></div>
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>